body{
    background-color: #e6f2ff;
    font-family: Arial, sans-serif;    
}

.container{
    background: white;
    width: 600px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

h1{
    color: #003366;
}

.perfil{
    width: 150px;
    height: 150px;
    object-fit: fit;    
    border-radius: 100px;
    border: 3px solid #003366;
}

.imagem{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 3px solid #333;
    border-radius: 8px;
    margin:10px;
}

ul{
    display: inline-block;
    text-align: left;
    padding-left: 20px;
}

ul li{
    margin-bottom: 12px;
}
